$border-color: #ddd;
$collapsed-color: #999;
$collapsed-color-hover: #3399ff;

.layout-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(238, 240, 243, 1);

  .layout-sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    background: linear-gradient(
      180deg,
      rgba(26, 117, 175, 1) 0%,
      rgba(36, 182, 198, 1) 100%
    );

    .layout-logo {
      position: relative;

      > * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .layout-sidebar-content {
      width: 100%;
      overflow: hidden;
      position: relative;
    }
  }

  .layout-right {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;

    .layout-header {
      width: 100%;
      overflow: hidden;
      position: relative;
      background-color: #fff;
      border-bottom: 1px solid #e7eaed;
      padding: 16px;

      .collapsed-btn {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color: $collapsed-color;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.3s;

        &:hover {
          color: $collapsed-color-hover;
        }
      }
    }

    .layout-breadcrumb {
      width: 100%;
      overflow: hidden;
    }

    .layout-content {
      width: 100%;
      overflow: hidden;
      padding: 16px;
    }
  }
}
